<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/css/theme.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">

  <style>
  
  /*.my_chart{
    width: 1035px;
    padding-left: 50px;
  }*/
  
  
  .my_chart .waffly_dot{
    display:inline-block;
    background:url(../static/img/moustache_256.png) right top no-repeat;
    /* background-size:contain; */
    height:128px;
    margin-right:7px;
    margin-left: 7px;
    width:128px;
    }
  .my_chart .waffly_dot.sel{background-position:left top;}
  
  .my_chart .waffly_value{
    display: none;
  }
  
  /*.my_chart1{
    width: 1035px;
  }*/
  
  .my_chart1 .waffly_dot{
    display:inline-block;
    background:url(../static/img/bro_256.png) right top no-repeat;
    /* background-size:contain; */
    height:256px;
    margin-right:7px;
    margin-left: 7px;
    width:110px;
    }
  .my_chart1 .waffly_dot.sel{background-position:left top;}
  
  .my_chart1 .waffly_value{
    display: none;
  }
  
  .my_chart2{
    width: 1035px;
  }
  
  .my_chart2 .waffly_dot{
    display:inline-block;
    background:url(../static/img/bro_256.png) left top no-repeat;
    /* background-size:contain; */
    height:256px;
    margin-right:7px;
    margin-left: 7px;
    width:110px;
    }
  
  .my_chart2 .waffly_value{
    display: none;
  }

  </style>
    <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/jquery.waffly.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color:#ffffff">
    <div class="container"> <a class="navbar-brand text-primary" href="/">
        <img class="img-fluid d-block" src="../static/img/logo.png" width="100">
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Impact</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Join Us</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Donate</a> </li>
        </ul>
        {% if logged %}
          <h2 class="text-center">
              <a class="nav-link" href="dashboard">
                  <span class="label label-default">{{ email }}</span>
              </a>
          </h2>
          <form method="POST" action="logout">
              <button class="btn btn-primary" type="submit">Logout</button>
          </form>
        {% else %}
          <a href="login" class="btn navbar-btn ml-md-2 btn-primary">Log In</a>
          <a href="registration" class="btn navbar-btn ml-md-2 btn-primary">Sign Up</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="py-5" style="background-image:url('../static/img/bg_dashboard.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2" style=""><img class="img-fluid d-block rounded-circle" src="../static/img/bro_profile.png"></div>
            <div class="col-md-3" style="color:#ffffff;">
              <h3 class="">Mr Moe</h3>
              <p class="" style=""><i class="fa fa-1x fa-diamond text-light"></i> Platinum Mo Bro<br>Member of Team Springfield</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 contenteditable="true">2018 Progress</h1>
        </div>
      </div>
      <div class="row justify-content-center">
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="p-0 col-lg-5 order-2 order-lg-1">
          <div class="row">
            <div class="col-md-6"><img class="img-fluid d-block" src="../static/img/badge_movember.svg">
              <h4 class="text-center"> <b>GROW A MO</b></h4>
            </div>
            <div class="col-md-6"><img class="img-fluid d-block" src="../static/img/badge_movement.svg">
              <h4 class="text-center"> <b>MO' MOVEMENT</b></h4>
            </div>
            <div class="col-md-6"><img class="img-fluid d-block" src="../static/img/badge_movents.svg">
              <h4 class="text-center"> <b>HOST A MO'MENT</b></h4>
            </div>
            <div class="col-md-6"><img class="img-fluid d-block" src="../static/img/badge_challenges_disabled.svg">
              <h4 class="text-center"> <b>MO' CHALLENGES</b></h4>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center p-3 col-lg-7 order-1 order-lg-2">
          <div class="row">
            <div class="col-md-12">
              <h2 class="">YOUR TEAM</h2>
            </div>
          </div>
          <p class="lead mb-0">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary.</p>
        </div>
      </div>
    </div>
  </div>



  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4" style="background-image:url('../static/img/block_pplimpact.png');background-repeat: no-repeat;"></div>
        
        <div class="col-md-8">
        <div class="my_chart1"  data-waffly-value="6/10" style="">    
    <meter class="chart" value="6" min="0" max="10" ></meter>
      </div>
    </div>
  </div>
  
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4" style="background-image:url('../static/img/block_pplmotivated.png');background-repeat: no-repeat;"></div>
        
        <div class="col-md-8">
        <div class="my_chart"  data-waffly-value="8/12">    
        <meter class="chart" value="8" min="0" max="12" ></meter>
      </div>
    </div>
  </div>
  
 <!-- <h1></h1>  
  <div class="my_chart2"  data-waffly-value="9/9" style="width:1170px;">    
    <meter class="chart" value="9" min="0" max="9" ></meter>-->
  </div>

  <script src="jquery.min.js"></script>
  <script src="jquery.waffly.js"></script>

  <script>
  $(document).ready(function() {
    
    $('.my_chart').waffly({
      graph_reverse:false,
      graph_animate:true,
      style_override:true,
      total_dots: 12
    });
    
    
    $('.my_chart1').waffly({
      graph_reverse:false,
      graph_animate:true,
      style_override:true,
      total_dots: 10
    });
    
    $('.my_chart2').waffly({
      graph_reverse:false,
      graph_animate:true,
      style_override:true,
      total_dots: 8
    });
  });
  /* Function to keep increasing the Goal according to a proportion of the teams average */ 
  
  </script>

        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>