<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/css/theme.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
  <style>
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
</style>
<!-- amCharts javascript sources -->
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/pie.js"></script>

</head>

<body style="background-image:url('../static/img/bg.png');background-size:cover;background-repeat: no-repeat;background-position:center;">
  <nav class="navbar navbar-expand-md navbar-light" style="background-color:#ffffff">
      <div class="container"> <a class="navbar-brand text-primary" href="/">
          <img class="img-fluid d-block" src="../static/img/logo.png" width="100">
        </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar4">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Impact</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Join Us</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Donate</a> </li>
          </ul>
          {% if logged %}
                <h2 class="text-center">
                    <a class="nav-link" href="dashboard">
                        <span class="label label-default">{{ email }}</span>
                    </a>
                </h2>
                <form method="POST" action="logout">
                    <button class="btn btn-primary" type="submit">Log Out</button>
                </form>
          {% else %}
            <a href="login" class="btn navbar-btn ml-md-2 btn-primary">Log In</a>
            <a href="registration" class="btn navbar-btn ml-md-2 btn-primary">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>
  <div class="py-5" style="color:#ffffff; margin-top:140px;">
    <div class="container" style="background-color:#000000a8;padding-top:40px;padding-bottom:40px;">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">STOP MEN DYING TOO YOUNG</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Join us for Movember, Brocember &amp; Beyond</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-12 p-4"> <img class="img-fluid d-block" src="../static/img/badge_movember.svg">
        </div>
      </div>
    </div>
        <div class="row">
      	<div class="col-md-12">
      	<h2 class="text-center" style="padding-top:60px;padding-bottom:20px;">Together we can make a difference for
men's health in <p style="color:#00ada8;">prostate cancer,
testicular cancer, mental health and
suicide prevention. </p></h2>
		</div>
	</div>
  <div class="py-3 text-center" style="padding-top: 0px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-6 p-4"> 
                 <a href="momovement" class="hvr-grow">  <img class="img-fluid d-block" src="../static/img/badge_movement.svg"></a>


          <!--<img class="img-fluid d-block" src="img/badge_movement.svg"></a>-->
          <h4> <b>Mo' Movement</b></h4>
          <p>Move this Movember by running or walking 60 kilometres over the month. That’s 60 kilometres for the 60 men we lose each hour, every hour, to suicide.</p>
        </div>
        <div class="col-lg-4 col-6 p-4">
          <img class="img-fluid d-block" src="../static/img/badge_movents.svg">
          <h4> <b>Mo'ments</b></h4>
          <p>Get your friends together this Movember, and raise funds by doing what you already get a kick out of. It’s called a Mo-ment – the easiest way to stop men dying too young.</p>
        </div>
        <div class="col-lg-4 col-6 p-4">
          <img class="img-fluid d-block" src="../static/img/badge_challenges.svg">
          <h4><b>Mo' Challenges</b></h4>
          <p>Join one of our Movember Challenges to compete with other fundraisers across your areas of interest. From industries to sports and schools – there’s a Challenge for everyone.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="background-color: #000000;">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"><a class="btn btn-primary w-75" href="registration" style="background-color:white;color:black;border:none;height:40px;">Join Us</a></div>
        <div class="col-md-3"><a class="btn btn-outline-secondary w-75" href="#" style="border:1px solid #ffffff;color:#ffffff;height:40px;">Donate</a></div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  

  <div class="py-5" style="background-image:url('../static/img/bg_impact.jpeg');background-size:cover;background-repeat: no-repeat;height:600px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center" style="margin-top:280px;margin-bottom:20px;color:#ffffff;">Mo' Impact</h1>
        </div>
      </div>
  </div>

  <!--impact-->
    <div class="py-5">
      <div class="container" style="background-color: #FFFFFF;">
        	<div class="row">
          	<div class="col-md-12" style="background-color:#000000;color:#ffffff;">
            	<h2 class="text-center" style="padding-top:60px;padding-bottom:20px;">Our Mo'vement is yearlong</h2>
            	           <p style="text-align: center;font-size:20px;padding-bottom:20px;">Every day makes an impact.<br> Prostate cancer kills 43 men every hour. <br>Every minute one man takes his own life globally.<br>3 out of 4 people who take their life are men.</p>
            </div>
        	</div>

     <div class="row" style="height:500px;">
    <div class="col-md-4" style="background-image:url('../static/img/block_stat1.png');background-repeat: no-repeat;"></div>
	        <div class="col-md-8">
                  <div id="chartdiv" style="width: 100%; height: 400px;">

			<!-- amCharts javascript code -->
			<script type="text/javascript">
			AmCharts.makeChart("chartdiv",
				{
					"type": "pie",
					"balloonText": "[[title]]<br><span style='font-size:14px;f'><b>[[value]]</b> ([[percents]]%)</span>",
					"innerRadius": "40%",
					"titleField": "category",
					"valueField": "column-1",
					"theme": "default",
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": false,
						"align": "center",
						"markerType": "circle"
					},
					"titles": [],
					"dataProvider": [
						{
							"category": "Men's Health Program",
							"column-1": "72.3"
						},
						{
							"category": "Fundraising Cost",
							"column-1": "16.5"
						},
						{
							"category": "Administration",
							"column-1": "6.3"
						},
						{
							"category": "Retained Fund",
							"column-1": "4.9"
						}
					]
				}
			);
			</script>
			</div>
		
		</div>
	</div>

	<div class="row">
    <div class="col-md-4" style="background-image:url('../static/img/block_stat.jpeg');background-repeat: no-repeat;"></div>
	        <div class="col-md-8">
			<div id="chartdiv2" style="height: 550px; background-color: #FFFFFF;" >
	           <script type="text/javascript">
      AmCharts.makeChart("chartdiv2",
        {
          "type": "pie",
          "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
          "innerRadius": "40%",
          "titleField": "category",
          "valueField": "column-1",
          "fontSize": 17,
          "colors": ['#00ADA8', '#084C61', '#462255', '#313B72'],
          "donutSolid": false,
          "dataProvider": [
            {
              "category": "Cancer Biomedical Research",
              "column-1": "14.36"
            },
            {
              "category": "Cancer Survivorship and Health Outcome",
              "column-1": "8.80"
            },
            {
              "category": "Mental Health and Suicide Prevention",
              "column-1": "12.56"
            },
            {
              "category": "Health Promotion and Programs",
              "column-1": "15.32"
            }
          ]
        }
      );
    </script>
		</div>
		</div>
</div>
		<div class="col-md-12" style="background-image:url('../static/img/world_map.jpg');height:900px;background-repeat: no-repeat;"></div>
				<h2 class="text-center" style="padding-bottom:20px;">Let's help Mo'tivate Worldwide</h2>
	</div>
	</div>
    </div>
  </div>

</body>

</html>