<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
</head>

<body>
  <div class="py-5 text-center" style="background-image: url('https://static.pingendo.com/cover-bubble-dark.svg');background-size:cover;">
    <div class="container">
      <div class="row"></div>
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-left" contenteditable="true">Get Involved</h2>
          <h3 class="text-left">Grow a Mo</h3>
          <p class="mb-0 text-left">Trucker, regent, connoisseur or wisp? No matter the shape or style of your Mo this Movember, your face can raise funds and awareness for men’s health.</p>
          <h3 class="text-left">Make your Move</h3>
        </div>
        <div class="col-md-6" style="">
          <div class="mx-auto col-md-12 col-10 bg-white p-5" style="">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4"><img class="img-fluid d-block" src="../static/img/logo.png" width="100" style=""></div>
              <div class="col-md-4"></div>
            </div>
            <h1 class="mb-4">Sign Up</h1>
            <div class="row">
              <div class="col-md-12"></div>
            </div>
            <form method="POST" action="registration">
              <div class="form-group"> <input type="email" name="email" class="form-control" placeholder="Enter email" id="form9" required> </div>
              <div class="form-group mb-3"> <input type="password" name="password" class="form-control" placeholder="Password" id="form10" required> <small class="form-text text-muted text-right">
                  <a href="#"> Forgot Password</a>
                </small> </div>

                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                      {{ message }}
                    </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

                <button class="btn btn-primary" type="submit">Registration</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>